*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link {
  color: #b8c843;
}

a:visited {
  color: rgb(156, 148, 222);
}

body {
  background-color: rgb(28, 28, 28);
  color: rgb(210, 210, 210);
  padding-top: 50px;
  padding-bottom: 45px;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  align-items: flex-start;
}

.card {
  background-color: #ccc;
  color: rgb(28, 28, 28);
  padding: 0.5rem;
}

.card-text-trim {
  overflow: hidden;
  --max-lines: 5;
  --line-height: 1.4;
  /* If you want to determin the height of your box you can calculate: 
    "How many lines you want to show, multiplied by your font size, multiplied by the line height".
    max-lines * 1em * line-height 
    */
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
}

.card-text-trim:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #ccc);
}

.expand-btn {
  appearance: none;
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1rem;
}

.expand-btn:hover {
  background-color: #fff;
}

.expand-btn::before {
  content: "Expand";
}

.expand-btn:checked::before {
  content: "Collapse";
}

.card-text-trim:has(+ .expand-btn:checked) {
  max-height: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.banner {
  position: absolute;
  top: 0;
  margin-top: 1em;
  font-size: 2em;
  z-index: 2;
}

.score-board {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

.footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 2%;
  grid-template-areas: "info links misc";
  height: 95px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.info {
  grid-area: info;
}
.links {
  grid-area: links;
}
.misc {
  grid-area: misc;
}
