@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Staatliches&display=swap");

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive;
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #fdf6e3;
  color: #586e75;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.dark__mode {
  background-color: #002b36;
  color: #b2bdb8;
}

h1 {
  font-size: 3rem;
  font-family: "Staatliches", cursive;
  padding-top: 0;
}

h2 {
  font-size: 2.7rem;
  font-family: "Staatliches", cursive;
  padding-top: 0;
}

h3 {
  font-size: 2.4rem;
  font-family: "Staatliches", cursive;
  padding-top: 0;
}

h4 {
  font-size: 2.1rem;
  font-family: "Staatliches", cursive;
  padding-top: 0;
}

h5 {
  font-size: 1.8rem;
  font-family: "Staatliches", cursive;
  padding-top: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.75;
}

li::marker {
  content: "🔹";
}

img {
  max-width: 100%;
}

header {
  padding-left: 1em;
}

.header__title {
  /* color: #8b2929; */
  color: #cb4b16;
  font-size: 2.3em;
}

.header__text {
  color: #586e75;
  font-size: 1.6em;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  box-shadow: rgba(141, 141, 141, 0.24) 0px 3px 8px;
  border: #93a1a1;
}

.toggle__menu {
  display: none;
}

.nav__item {
  padding-left: 0.5em;
}

.test__content {
  margin: 0 auto;
  height: 70vw;
  width: 70vw;
  border: 2px solid black;
  padding: 0 15px;
  overflow: auto;
}

.button {
  border-radius: 100px;
}

.button__menu__toggle:hover {
  opacity: 80%;
}

.theme__switch {
  position: absolute;
  right: 0;
  padding-right: 15px;
}

@media (min-width: 650px) {
  .wrapper {
    flex-direction: column;
  }

  .nav {
    flex-direction: row;
    border: 1px solid grey;
  }

  .nav--primary {
    display: flex;
    align-items: center;
  }

  .nav--social {
    display: flex;
    align-items: center;
  }

  .button__menu__toggle {
    visibility: hidden;
  }

  .test__content {
    margin-top: 50px;
  }
}
